[project]
name = "image-enhance"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "matplotlib>=3.10.7",
    "pillow>=12.0.0",
    "pyiqa>=0.1.14.1",
    "torch>=2.9.1",
]
